[submodule "src/github.com/cloudfoundry/blobstore_url_signer"]
	path = src/github.com/cloudfoundry/blobstore_url_signer
	url = https://github.com/cloudfoundry/blobstore_url_signer
[submodule "src/cloud_controller_ng"]
	path = src/cloud_controller_ng
	url = https://github.com/cloudfoundry/cloud_controller_ng
[submodule "src/code.cloudfoundry.org/tps"]
	path = src/code.cloudfoundry.org/tps
	url = https://github.com/cloudfoundry/tps
	branch = master
[submodule "src/code.cloudfoundry.org/cc-uploader"]
	path = src/code.cloudfoundry.org/cc-uploader
	url = https://github.com/cloudfoundry/cc-uploader
	branch = master
